In [ ]:
# TASK 1

In [ ]:
# TASK 1
def is_palindrome():
    word = input("Enter the Word: ")
    word1 = word[::-1]
    if word1 == word:
        print("It is a palindrome")
    else:
        print("It is not a palindrome")

is_palindrome()

In [ ]:
# TASK 2

In [5]:
# TASK 2
def sort_of_words():
    list_1.sort()
    print(list_1)
list_1=[]
n=int(input("enter the limit:"))
for i in range(1,n+1):
    elements=input("enter the name:")
    list_1.append(elements)

sort_of_words()

enter the limit: 3
enter the name: ABILASH
enter the name: ARUN
enter the name: BARATH

['ABILASH', 'ARUN', 'BARATH']

In [ ]:
# TASK 3

In [26]:
# TASK 3
mylist=[]
def charactersintostring(mylist):
    mylist="".join(mylist)
    print(mylist)
for i in range(1,6):
    characters=input("Enter the Characters:")
    mylist.append(characters)
print(mylist)
charactersintostring(mylist)

Enter the Characters: A
Enter the Characters: B
Enter the Characters: C
Enter the Characters: D
Enter the Characters: E

['A', 'B', 'C', 'D', 'E']
ABCDE

In [28]:
# TASK 4
mylist=[]
def small_and_large():
    m1=max(mylist)
    m2=min(mylist)
    print("Maximum is",m1)
    print("Minimum is",m2)
for i in range(1,11):
    Data=int(input("Enter the Number:"))
    mylist.append(Data)
small_and_large()

Enter the Number: 20
Enter the Number: 40
Enter the Number: 60
Enter the Number: 80
Enter the Number: 100
Enter the Number: -20
Enter the Number: -40
Enter the Number: -60
Enter the Number: -80
Enter the Number: -100

Maximum is 100
Minimum is -100

In [30]:
# TASK 5
def maximum_and_minimum(dict):
    dict_1=dict.values()
    dict_2=dict.items()
    m1=max(dict_1)
    m2=min(dict_1)
    print("The Maximum is:",m1)
    print("The Minimum is:",m2)
dict={}
for i in range(1,6):
    keys=input("Enter the Keys value:")
    value=float(input("Enter the value :"))
    dict[keys]=value
maximum_and_minimum(dict)

Enter the Keys value: Items 1
Enter the value : 45.50
Enter the Keys value: Items 2
Enter the value : 35
Enter the Keys value: Items 3
Enter the value : 41.30
Enter the Keys value: Items 4
Enter the value : 29
Enter the Keys value: Items 5
Enter the value : 49.89

The Maximum is: 49.89
The Minimum is: 29.0

In [32]:
# TASK 6
def f1():
    name=input("Enter the name:")
    age=int(input("Enter the age:"))
    Gender=input("Enter the Gender:")
    occupation=input("Enter the occupation:")
    f2(name,age,Gender,occupation)
def f2(name,age,Gender,occupation):
    print(name)
    print(age)
    print(Gender)
    print(occupation)
f1()

Enter the name: Barath S P
Enter the age: 22
Enter the Gender: Male
Enter the occupation: IT

Barath S P
22
Male
IT

In [34]:
# Task 7
def colour_sort():
    color=[("Black",4),("Green",1),("Red",5),("Blue",2),("Yellow",3)]
    sorted_color=sorted(color,key=lambda x:x[1],reverse=False)
    print(sorted_color)
colour_sort()

[('Green', 1), ('Blue', 2), ('Yellow', 3), ('Black', 4), ('Red', 5)]

In [36]:
# Task 8
a=["Andy","Mandy","Sandy"]
b=["Handy","Burgundy","Mandy"]
c=list(filter(lambda x:x in a,b))
print("The common element is:",c)

The common element is: ['Mandy']

In [1]:
# tASK 9
a=[12,14,14]
b=[17,16,17]
a=list(map(lambda x,y: x+y,a,b))
print(a)

[29, 30, 31]

In [24]:
# Task 10
def is_employee_over_18(dob, doj):
    dob_year = int(dob.split("-")[2])
    doj_year = int(doj.split("-")[2])
    age = doj_year - dob_year
    print(age)
    return age > 18
dob = "12-25-1991"
doj = "04-25-2020"
is_over_18 = is_employee_over_18(dob, doj)
print(is_over_18)

29
True

1991