In [ ]:
#TASK 1

In [2]:
#1(A)
rollno=2820
print(rollno)
print(id(rollno))
print(type(rollno))

2820
1857052027632
<class 'int'>

In [4]:
#1(B)
firstname="Barath";
print(firstname)
print(id(firstname))
print(type(firstname))

Barath
1857030110016
<class 'str'>

In [6]:
#1(C)
lastname="Bala";
print(lastname)
print(id(lastname))
print(type(lastname))

Bala
1857030354816
<class 'str'>

In [8]:
#1(D)
maxmarks=50;
print(maxmarks)
print(id(maxmarks))
print(type(maxmarks))

50
140711855144920
<class 'int'>

In [ ]:
# TASK 2

In [16]:
# Task 2(1)
Var1=2  
print(Var1)
#in this case we have set var 1= 2

2

In [18]:
#Task 2(2)
2var=2  
print(2var)
# in this case it doesn't accept decimal value in front of variable

SyntaxError: invalid decimal literal (124729125.py, line 2)

In [20]:
# Task 2(3)
var 1= 2  
print(var 1)
# in this case i shows an invalid syntax error.

SyntaxError: invalid syntax (1327014602.py, line 2)

In [22]:
# Task 2(4)
var$2=2 
print(var$2)
# for this case it shows invalid syntax error.

SyntaxError: invalid syntax (2205168015.py, line 2)

In [ ]:
# TASK 3

In [ ]:
#3(a)
Class=15
print(Class)
# its executed

In [ ]:
#3(b)
class=14 
print(Class)
# it doesn't execute because it is the keyword in python

In [ ]:
#3(c)
DEF=13
print(DEF)
#Its executed

In [ ]:
#3(d)
def=13
print(def)
# it  doesn't executed because it def is a keyword.

In [34]:
#3(e)
a=TRUE
print(a)
# it doesn't executed because it True is a not in  a string value.

NameError: name 'TRUE' is not defined

In [38]:
#3(f)
b=false
print(b)
# it doesn't executed and it shows not defined.

NameError: name 'false' is not defined

In [ ]:
# Task 4

In [44]:
#4(a)
marks=79.8
print(marks)
print(id(marks))
print(type(marks))

79.8
1857028812912
<class 'float'>

In [46]:
#4(b)
marks=60.2
print(marks)
print(type(marks))
print(id(marks))

60.2
<class 'float'>
1857083178032

In [ ]:
#4(c)
"""no it is not same becuase the two different marks id is stored in different memory address and hence it is different id value."""

In [ ]:
# Task 5

In [48]:
#5(a)
maxmarks=100
print(marks/maxmarks*100,"%")
# For this i have used maxmarks as 100 and i applied marks as 60.2 which is the recent marks the interpretator has used to calculate the division

60.199999999999996 %

In [50]:
#5(b)
fullname=firstname+" "+ lastname
print (fullname)

Barath Bala

In [21]:
#5(c)
print(firstname," ",lastname," scored " ," ",marks,"%");

Barath   Bala  scored    60.2 %

In [ ]:
# Task 6

In [58]:
#6(a)
print(1+"2") 
# For this case we cannot concate integer and string because it is two different datatype.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
#6(b)
print("1"+"2")  
# for this case i has excecuted because the values are in string the interpretator taken as sting value

12

In [54]:
#6(c)
print(1/2)  
# For this Task this code has executed because the interpretator has doing normal division between the two integer values.

0.5

In [52]:
#6(d)
print(1//2)
# For this task this code

0

In [ ]:
#task 7

In [60]:
#7(a)
print(True and True) 
# for this case AND condition both condition should be true .That's what i gave an output as True.

True

In [62]:
#7(b)
print(True and False)
# For this Case OR Condition should be contain one condition has true and one condition as false

False

In [64]:
#7(c)
print(False or True) 
# For this Case OR Condition should be contain one condition has true and one condition as false

True

In [66]:
#7(d)
print(False or False)
#For this Case OR Condition should be contain one condition has true and one condition as false

False

In [ ]:
#Task 8

In [70]:
print(fullname)
print(firstname in fullname) 
# For this case  the firstname is contained in the full name That why it gave an output as True.
print(firstname is  fullname) 
# For this case the firstname is not fullname that why it gave an output as False

Barath Bala
True
False

In [ ]:
# Task 9

In [1]:
#9(A and B)
a=4
b=3
c=2 
d=a**b+c
print(d)
e=a**(b+c)
print(e)

66
1024

In [ ]:
# 9(3)
"""For this case The given question is quite different . For the A question they are asked to calculate the a 
to the power of b .After the calculation of power value  we have  to add that value to c   """
""" Similary to the task c first we have the add b and c values .After adding the value should be a to the power of added value."""
#This is what the interpretator done and the values are different.